body {
    background-color: antiquewhite;
    margin: 0;
    box-sizing: border-box;
    
}

.app {
   
    min-height: 500px;
    margin: 50px auto;
    padding: 10px;
    background-color: chocolate;
    width: 400px;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}

#form-input input{
    border: none;
    padding: 15px 20px;
    width: 150px;
    background-color: rgb(255, 230, 0);
    margin: 20px;
    color: rgb(250, 116, 26);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.473);
}


#form-input input::placeholder {
    color: tomato;
}
#form-input input:focus {
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: rgb(0, 195, 255);
    border-radius: 5px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    width: 80px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.473);
    transition: .4s ease all;
}

button:focus {
    outline: none;
}

button:hover {
    width: 77px;
    height: 47px;
    font-size: 15px;
    background-color: rgb(4, 129, 167) ;
    cursor: pointer;
}